@keyframes appear {
    0% {
        opacity: 0;
    }
    1% {
        visibility: visible;
    }
    100% {
        opacity: 0.8;
    }   
}

@keyframes disappear {
    0% {
        opacity: 0.8;
    }
    99% {
        opacity: 0;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }   
}