@use "mixins" as *;
@use "animations" as *;

.profile-group {
    display: flex;
    gap: 1em;
    & > img {
        width: 3em;
    }
}

.icons-group {
    display: flex;
    gap: 1em;
    & > svg {
        width: 1.8em;
    }
}

.buttons-group {
    display: flex;
    flex-direction: column;
    gap: 1em;
    button {
        padding: 0.5em 1em;
        text-align: start;
        border: none;
        border-radius: .25em;
    }
    
}

.title-text-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid-tabs {
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5em;
    font-size: 0.8rem;
    box-shadow: 0 2px 2px rgba(30, 30, 30, 0.2);
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: rgb(60 58 54);

    & > li {
        cursor: default;

        border-width: 1px;
        border-style: groove; 
        border-color: rgba(255,255,255,0);
        padding: 5px 10px;
        
        -webkit-transition : border .16s ease-out;
        -moz-transition : border .16s ease-out;
        -o-transition : border .16s ease-out;
        transition : border .16s ease-out;
        
        color: #909090;
        flex-grow: 1;
        text-align: center;
        
        &.active {
            color: white;
            border-bottom-color:rgba(255, 255, 255, 1);
            box-shadow: 0 2px 2px -1px rgba(255, 255, 255, 0.2);
        }
    }

    & > span.v-sep {
        background-color: #909090;
        width: 1px;
        height: 100%;
        flex-shrink: 0;
    }
}

.card-project {
    @include card-generic;
    border-left: solid 4px var(--teal);
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    .icons-group {
        flex-direction: column;
        gap: 0.5em;
    }
    svg {
        fill: var(--teal);
        width: 1.5em;
        path {
            pointer-events: none;
        }
    }
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    background-color: rgba(49, 48, 46, 0.8);
    animation: .2s forwards appear;
    &.hidden {
        background-color: rgba(49, 48, 46, 0);
        animation: .2s forwards disappear;
        pointer-events: none;
    }
}

.hamburger-menu {
    position: fixed;
    left: 40%;
    width: 60vw;
    height: 100vh;
    z-index: 3;
    background-color: hsl(178deg 32% 50% / 85%);
    box-shadow: -0.5em 0 0.5em rgba(0, 0, 0, 0.2);
    transition: transform .2s; 

    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;

    &.hidden {
        transform: translateX(100%);
    }

    h2 {
        height: 3rem;
        line-height: 3rem;
        font-size: 1.2em;
    }
}

#hamburger.active {
    z-index: 10;
    fill: white;
}