html {
    box-sizing: border-box;
    overflow: hidden;
} *, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --background: rgb(234 227 232);
    --teal: rgb(153 203 201);
    --teal-dark: hsl(178, 32%, 50%);
    --pink: rgb(249 176 184);
    --white: rgb(242 245 255);
    --black: rgb(49 48 46);
}

body {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: "Archivo", sans-serif;
    display: flex;
    justify-content: stretch;
    height: 100vh;
    background-color: var(--white);
    color: var(--black);
} h1, h2, h3, p {
    margin: 0;
    line-height: 1.3;
} a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
} a:hover {
    text-decoration: underline;
} ul, ol {
    list-style: none;
}

/* boilerplate end */

main {
    display: flex;
    gap: 50px;
}
img {
    width: 50px;
    height: 100%;
}
object path {
    fill: #505050;
}