@use "../globals" as *;

.card-project,
.card-announcements,
.card-trending {
    @include card-generic;
}

.card-project {
    border-left: solid 4px var(--teal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border-color .2s;
    cursor: default;
    .icons-group {
        flex-direction: column;
        gap: 0.5em;
    }
    svg {
        fill: var(--teal);
        width: 1.8em;
        cursor: pointer;
        path {
            pointer-events: none;
        }
    }
    &:hover {
        border-left-color: #6842f4;
    }
}

.card-announcements,
.card-trending {
    display: flex;
    flex-direction: column;
    gap: 1em;
}