.profile-group {
    display: flex;
    gap: 1em;
    img {
        width: 3em;
    }
}

.icons-group {
    display: flex;
    gap: 1em;
    svg {
        // padding: 0 .1em;
        transition: fill 0.2s;
        width: 1.8em;
        fill: var(--teal);
        &.toggled {
            fill: rgb(86, 55, 170);
        }
        path {
            pointer-events: none;
        }
    }
}

.buttons-group {
    display: flex;
    flex-direction: column;
    gap: 1em;
    button {
        padding: 0.5em 1em;
        text-align: start;
        border: none;
        border-radius: .25em;
    }
}

.links-group {
    display: flex;
    flex-direction: column;
    gap: 1em;
    li {
        display: flex;
        gap: 1em;
        font-weight: 600;
        svg {
            width: 1.5em;
            fill: white;
        }
    }
}

.title-text-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}