.profile-group {
    display: grid;
    grid-template-columns: min-content auto min-content;
    
    gap: 1em;
    img {
        width: 3em;
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title {
        font-weight: 600;
    }
    .bio {
        font-weight: 300;
    }
    .icons-group {
        flex-direction: row;
        svg {
            width: 1.8em;
        }
    }
}

.icons-group {
    display: flex;
    gap: 1em;
    svg {
        // padding: 0 .1em;
        transition: fill 0.2s;
        width: 1.8em;
        fill: var(--teal);
        &.toggled {
            fill: var(--purple);
        }
        path {
            pointer-events: none;
        }
    }
}

.buttons-group {
    display: flex;
    flex-direction: column;
    gap: 1em;
    button {
        padding: 0.5em 1em;
        text-align: start;
        border: none;
        border-radius: .25em;
    }
}

.links-group {
    display: flex;
    flex-direction: column;
    gap: 1em;
    li {
        display: flex;
        gap: 1em;
        font-weight: 600;
        svg {
            width: 1.5em;
            fill: white;
        }
    }
}

.title-text-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}