@use "../globals" as *;

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    background-color: var(--black-80);

    animation: .2s forwards appear;
    &.hidden {
        animation: .2s forwards disappear;
    };
}

.hamburger-menu {
    position: fixed;
    left: 40%;
    width: 60vw;
    height: 100vh;
    z-index: 3;
    background: linear-gradient(
        90deg,
        var(--teal-dark),
        hsl(178deg 32% 55% / .8)
    );
    box-shadow: -0.5em 0 0.5em rgba(0, 0, 0, 0.2);
    transition: transform .2s; 

    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;

    &.hidden {
        transform: translateX(100%);
    }

    h2 {
        height: 3rem;
        line-height: 3rem;
        font-size: 1.2em;
    }

    nav {
        position: sticky;
        top: 0;
    }

    @include break-at("medium") {
        position: relative;
        grid-area: nav;
        height: auto;
        transition: none;
        background-color: white;
        left: 0;
        width: 15em;
        box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
        & > .hsep{
            display: none;
        }
        .buttons-group {
            display: none;
        }
        &.hidden {
            transform: none;
        }
    }
}

#hamburger.active {
    z-index: 10;
    fill: white;
}