:root {
    --white: hsl(190deg, 40%, 95%);
    --black: hsl(40deg 3% 20%);
    
    --teal: hsl(178deg 30% 70%);
    --teal-dark: hsl(180deg 30% 50%);
    --purple: hsl(253deg 90% 60%);
    --purple-desat: hsl(253deg 50% 55%);
    
    --yellow: hsl(40deg 100% 70%);
    --brick: hsl(0deg 38% 48%);
    
    --purple-80: hsl(253deg 90% 60% / 80%);
    --black-80: hsl(40deg 3% 20% / 80%);
}