:root {
    --white: hsl(226deg 100% 95%);
    --black: hsl(40deg 3% 20%);
    
    --teal: hsl(178deg 30% 70%);
    --teal-dark: hsl(178deg 30% 50%);
    --purple: hsl(253deg 90% 60%);
    
    
    --yellow: hsl(38deg 100% 70%);
    
    --purple-80: hsl(253deg 90% 60% / 80%);
    --black-80: hsl(40deg 3% 20% / 80%);
}