@use "animations" as *;

@mixin card-container {
    padding: 1em;
    gap: 1em;
    display: grid;
    // grid-auto-rows: min-content;

    animation: .12s forwards appear;
    h3 {
        color: white;
    }
    &.hidden {
        display: none;
    }
}

@mixin card-generic {
    background-color: var(--white);
    color: var(--black);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 5px 5px 5px rgba(30, 30, 30, 0.2);
    .card-title {
        font-weight: 800;
    }
    .hsep, .vsep {
        background-color: var(--teal);
    }
    &:hover {
        background-color: white;
        box-shadow: 5px 5px 5px rgba(30, 30, 30, 0.3);
    }
}

@mixin vendor-prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
}