@use "../mixins" as *;

[class*="card-container"] {
    @include card-container;
}

.card-container-projects {
    display: grid;
}

.card-container-announcements {
    display: flex;
    flex-direction: column;
    .hsep {
        background-color: #707070;
    }
}

.card-container-trending {
    display: flex;
    flex-direction: column;
}