@use "../globals" as *;

[class*="card-container"] {
    @include card-container;
    @include break-at("medium") {
        transition: none;
        animation: none;
        &.hidden {
            display: grid;
        }
    }
}

.card-container-projects {
    grid-area: projects;
    margin-top: 2.6rem;
    @include break-at("medium") {
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }
    h3 {
        position: absolute;
        z-index: -1;
        transform: translateY(-2.6rem);
    }
}

.card-container-announcements {
    .hsep {
        background-color: #707070;
    }
    grid-area: announcements;
}

.card-container-trending {
    grid-area: trending;
    // align-self: end;
}