@use "../globals" as *;

header {
    grid-area: header;

    background-color: var(--white);
    color: var(--black);
    
    height: min-content;
    padding: 1em;
    
    display: flex;
    gap: 1em;
    justify-content: space-between;

    @include break-at("medium") {
        position: sticky;
        top: 0;
    }
}

main {
    grid-area: main;
    height: 100%;
    align-self: stretch;
    grid-template-columns: 2fr 1fr;

    @include break-at("medium") {
        display: grid;
        grid-template-rows: min-content 1fr;
        grid-template-areas: 
            "projects announcements"
            "projects trending";
    }
}