@use "../breakpoints" as *;

header {
    background-color: var(--white);
    color: var(--black);
    height: min-content;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
    grid-area: header;
}

main {
    grid-area: main;
    height: 100%;
    align-self: stretch;
    grid-template-columns: 2fr 1fr;

    @include break-at("medium") {
        display: grid;
        grid-template-rows: min-content 1fr;
        grid-template-areas: 
            "projects announcements"
            "projects trending";
    }
}